[Unit]
Description=Autotester Client
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
WorkingDirectory=$WORKDIR
ExecStart=php pull.php wait
StandardOutput=file:/var/log/autotester.log

Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
